venv/
env/
ENV/
.venv/
.ENV/

*.env
*.flaskenv

__pycache__/
*.py[cod]
*$py.class

*.log
*.tmp
*.pid
*.sqlite3
instance/

pip-log.txt
pip-delete-this-directory.txt

*.migrations/
migrations/
coverage/
.coverage
.tox/
*.egg-info/
.eggs/
dist/
build/

.idea/
.vscode/
*.swp
*.swo
*.iml

.DS_Store
Thumbs.db

docker-compose.override.yml
*.dockerignore

*.min.js
node_modules/
.husky/
htmlcov/
.prettiercache
